@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;500;600;700&display=swap");

@font-face {
  font-family: "MillerBanner";
  src: url("/fonts/MillerBannerRegular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MillerBanner";
  src: url("/fonts/MillerBannerBold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}

@layer base {
  html {
    @apply !scroll-smooth;
  }
  @media (prefers-reduced-motion) {
    html {
      @apply !scroll-auto;
    }
  }
  body {
    @apply font-sans m-0 p-0 text-white text-base bg-red font-light;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .image-cover img {
    @apply h-full object-cover;
  }
  .image-contain img {
    @apply h-full object-contain;
  }

  .form__label {
    @apply sr-only;
  }

  .form__input {
    @apply block w-full p-2 px-4 text-xs text-black placeholder:text-black;
  }

  .form__error {
    @apply text-xs text-red;
  }

  .custom-list ul div,
  .custom-list ol div,
  blockquote .container {
    grid-template-columns: none;
    @apply block max-w-none p-0;
  }

  .custom-list ol {
    counter-reset: my-awesome-counter;
  }

  .custom-list ul li {
    @apply relative py-[3px] after:absolute after:top-[13px] after:-left-4 after:h-[7px] after:w-[7px] after:xl:top-[18px] after:rounded-full after:bg-yellow;
  }

  .custom-list ol li {
    @apply relative py-[3px] pl-2;
    counter-increment: my-awesome-counter;
  }

  .custom-list ol li:after {
    @apply absolute top-[3px] -left-4 h-[7px] w-[7px] xl:top-[9px] text-inherit font-bold;
    content: counter(my-awesome-counter) ". ";
  }

  .centered {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .title {
    @apply uppercase font-serif text-xl md:text-3xl lg:text-4xl;
  }

  .ellipse {
    background-color: #45597e;
    height: 100px;
    width: 150px;
    border-radius: 50%;
  }

  blockquote p {
    @apply !font-serif !text-inherit xl:!text-3xl;
  }

  .container-left {
    @apply pl-4 lg:pl-[calc(((100vw-1024px)/2)+1rem)] xl:pl-[calc(((100vw-1280px)/2)+1rem)] 2xl:pl-[calc(((100vw-1536px)/2)+5rem)] 3xl:pl-[calc(((100vw-1920px)/2)+5rem)];
  }

  .thumbnail .splide__slide.is-active {
    @apply bg-white;
  }
  .thumbnail .splide__slide.is-active .border-custom {
    @apply bg-black;
  }
  .thumbnail .splide__list {
    @apply items-center;
  }
  .gallery .splide__pagination__page:after {
    @apply !hidden;
  }
}

.splide__pagination {
  @apply gap-3 py-2 absolute bottom-4 left-1/2 -translate-x-1/2;
}

.gallery .splide__pagination__page {
  @apply w-2 h-2 bg-white/50 rounded-full xl:w-3 xl:h-3;
}

.gallery .splide__pagination__page.is-active {
  @apply bg-white;
}

@media (max-width: 767px) {
  .unwrapped {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
  }
}
