@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400&display=swap");

@font-face {
  font-family: "Graphik";
  src: url("/fonts/Graphik-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("/fonts/Graphik-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}

@tailwind base;

@layer base {
  body {
    @apply font-sans m-0 p-0 text-white bg-red;
  }
}

@tailwind components;
@tailwind utilities;

@layer components {
  .image-cover img {
    @apply h-full object-cover;
  }
  .image-contain img {
    @apply h-full object-contain;
  }

  .form__label {
    @apply sr-only;
  }

  .form__input {
    @apply block w-full p-2 px-4 text-xs text-black placeholder:text-black;
  }

  .form__error {
    @apply text-xs text-red;
  }

  .formatted-text ul {
    @apply my-2 pl-4;
  }

  .formatted-text ol {
    @apply my-2;
    counter-reset: my-awesome-counter;
  }

  .formatted-text ul li {
    @apply relative py-[3px] after:absolute after:top-[15px] after:-left-4 after:h-[7px] after:w-[7px] after:rotate-45 after:rounded-full after:bg-black;
  }

  .formatted-text ol li {
    @apply relative py-[3px] before:pr-1 before:font-bold before:text-black;
    counter-increment: my-awesome-counter;
  }

  .formatted-text ol li:before {
    content: counter(my-awesome-counter) ". ";
  }
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}

@media (max-width: 767px) {
  .unwrapped {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
  }
}
